*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    flex-grow: 1;
}

/*Responsive Design sin media querys*/
.flex-responsive {
    display: flex;
    flex-flow: row wrap;
}

.flex-responsive-item {
    border: thin solid #f60;
    flex: 1 1 200px; /*mínimo que soporta cada columna*/
}
/*----------------------------------*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-image {
    background-image: url("https://placeimg.com/1920/1080/any");
    background-repeat: no-repeat;
    color: #FFF;
    min-height: 100vh;
}

.hero-image div {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: inherit;
}

.hero-image h1 {
    font-size: 5vw;
}

.menu ul {
    list-style-type: none;
}

.titulares {
    background-color: #222;
    color: #EEE;
    padding: 1rem;
}


@media screen and (min-width: 1024px) {

    .flex-container {
        display: flex;
        align-items: center;   
    }

    .flex-item {
        flex: 0 0 50%
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
    }

    .menu li {
        padding: .5rem;
    }

    /*No aplicada, si se aplica, invierte el orden texto-imagen*/
    .flex-order-1 {
        order: 1;
    }

    /*Quitar esta clase si se quiere aplicar order-1 (imagen-texto)*/
    .flex-row-reverse {
        flex-direction: row-reverse;
    }
}